.slider-container{
    width: 100%;
    margin: auto ;
  
  }
  .carousel{
    min-height: 100vh;
    max-height: 100vh;
    @media(max-width: 767px){
        min-height: 40vh;
      max-height: 40vh;
    }
  
    img{
        min-height: 100vh;
      max-height: 100vh;
      @media(max-width: 767px){
          min-height: 40vh;
        max-height: 0vh;
      }
    }
  }
  