.about-container{
    // background-color: rgba(38, 122, 179, 0.3);
    
    h1{
        text-align: center;
        padding: 60px;
        font-size: 2.5rem;
        font-weight: 500;
        color:#1a595c;
    }
    p{
        margin: 0 auto;
        width:50%;
        padding-bottom: 90px;
        line-height: 28px;
    }





    
}
